<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>{{ pageTitle }}</h1>
        </div>
        <div class="col-4 mb-4">
            <form class="d-flex" role="search">
                <input [(ngModel)]="searchTitle" name="searchTitle" type="text" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button (click)="searchBooks()" class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-3 pb-5" *ngFor="let book of books">
            <div class="card d-flex flex-column" style="width: 18rem;">
                <img [src]="book.coverImage" class="card-img-to" style="height:214px;" alt="...">
                <div class="card-body d-flex flex-column flex-grow-1" style="height:184px">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">by {{ book.author}}</li>
                    <li class="list-group-item">{{ book.isAvailable ? 'In Stock' : 'Not In Stock' }}</li>
                    <li class="list-group-item">{{book.rating ?? "0.0"}} / 5</li>
                </ul>
                <div class="card-body mt-auto">
                    <a *ngIf="book.isAvailable" href="#" class="card-link">Checkout</a>
                    <a *ngIf="!book.isAvailable" href="#" class="card-link">Return</a>
                </div>
            </div>
        </div>
    </div>
</div>