<div class="container">
    <!--Book Details-->
    <span class="h1 pull-left">{{this.bookDetail?.title}}</span>
    @if (this.bookDetail?.CheckoutDate) {
        <span class="h4"> - (Checked out {{this.bookDetail?.CheckoutDate}})</span>
    }
    <form [formGroup]="this.form">
        <div class="row mt-3"> 
            <div class="col-6 text-center">
                <img [src]="this.bookDetail?.coverImage" class="card-img-to" style="width:640px;"  alt="...">
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <strong><label for="author">Author</label></strong>
                    <input type="text" formControlName="author" [readonly]="!this.isLibrarian" [class]="this.formControlClass" id="author">
                </div>
                <div class="mb-3">
                    <strong><label for="pageCount">Page Count</label></strong>
                    <input type="number" formControlName="pageCount" [readonly]="!this.isLibrarian" [class]="this.formControlClass" id="pageCount">
                </div>
                <div class="mb-3">
                    <strong><label for="availability">Availability</label></strong>
                    <input type="text" readonly class="form-control-plaintext" id="availability" [value]="this.bookDetail?.isAvailable">
                </div>
                <div class="mb-3">
                    <strong><label for="publisher">Publisher</label></strong>
                    <input type="text" formControlName="publisher" [readonly]="!this.isLibrarian" [class]="this.formControlClass" id="publisher">
                </div>
                <div class="mb-3">
                    @if (this.isLibrarian) {
                        <strong><label for="publicationDate">Publication Date - {{this.pubDate | date: 'M/d/yyyy'}}</label></strong>
                        <input type="date" formControlName="publicationDate" [readonly]="!this.isLibrarian" [class]="this.formControlClass" id="publicationDate">
                    }
                    @else {
                        <strong><label for="publicationDate">Publication Date</label></strong>
                        <input type="text" readonly name="publicationDate" class="form-control-plaintext" id="publicationDate" [value]="this.pubDate">
                    }
                </div>
                <div class="mb-3">
                    <strong><label for="isbn">ISBN</label></strong>
                    <input type="text" formControlName="isbn" [readonly]="!this.isLibrarian" [class]="this.formControlClass" id="isbn">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="category" class="form-label"><strong>Category</strong></label>
                    @if(this.isLibrarian) {
                        <select class="form-select" id="category" formControlName="category" type="number">
                            @for (category of categories; track category) {
                                <option [value]="category.id">{{category.value}}</option>
                            }
                        </select>
                    }
                    @else {
                        <input type="text" readonly class="form-control-plaintext" id="category" [value]="this.bookDetail?.categoryName">
                    }
                </div>
                <div class="mb-3">
                    <strong><label for="rating">Rating</label></strong>
                    <input type="text" readonly class="form-control-plaintext" id="rating" [value]="this.bookDetail?.rating ?? 'Not Rated'">
                </div>
                <div class="mb-3">
                    <strong><label for="description">Description</label></strong>
                    <textarea #description formControlName="description" [readonly]="!this.isLibrarian" [class]="this.formControlClass" id="description"></textarea>
                </div>
                @if (this.isLibrarian) {
                    <div class="mb-3">
                        <strong><label for="description">Cover Image</label></strong>
                        <textarea formControlName="coverImage" row="5" class="form-control" id="coverImage"></textarea>
                    </div>
                }
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <div class="d-grid">
                @if (this.isLibrarian) {
                    <button (click)="this.removeBook()" type="button" class="btn btn-danger">Remove '{{this.bookDetail?.title}}' from inventory?</button>
                    @if (this.form.dirty) {
                        <button (click)="this.updateBook()" type="button" class="btn btn-warning">Save changes to '{{this.bookDetail?.title}}'?</button>
                    }
                    @if (!this.bookDetail?.isAvailable) {
                        <button (click)="this.returnBook()" type="button" class="btn btn-primary">Return '{{this.bookDetail?.title}} ({{this.bookDetail?.CheckoutDate | date: 'd/M/yyyy'}})'</button>
                    }
                }
                @else {
                    @if (this.bookDetail?.isAvailable){
                        <button (click)="this.checkOutBook()" type="button" class="btn btn-primary">Check out '{{this.bookDetail?.title}}'</button>
                    }
                    @else {
                        <button class="btn btn-danger" disabled>'{{this.bookDetail?.title}}' is currently unavailable</button>
                    }
                    <button (click)="this.reviewBook()" type="button" class="btn btn-info">Review '{{this.bookDetail?.title}}'</button>
                }
            </div>
        </div>
    </div>

    <!--Reviews-->
    <div class="mt-5">
        <h1>Reviews</h1>
        @if (this.reviews.length > 0) {
            <div class="row">
                @for (review of this.reviews; track review){
                    <div class="col-3 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{review.username}}</h5>
                                <span *ngFor="let n of numSequence(review.rating); let i = index;"><i class="bi bi-star-fill"></i></span>
                                <p class="card-text">{{review.text}}</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        @else {
            <div class="col-12">
                <p>There are no reviews for this book yet.</p>
            </div>
        }
    </div>
</div>